################################################################################
#
# .gitignore
#
# This file is only relevant if you are using git.
#
# Files which match the patterns below will be ignored by git.
#
# - This keeps undesired files and sensitive credentials from being uploaded to
#   your repository.
#
# - It allows you to configure your app for your machine without
#   accidentally committing settings which will overwrite the local settings of
#   other developers on your team.
#
# Some reasonable defaults are included below, but you should modify to fit
# your needs.
#
################################################################################

################################################################################
#
# Build and generated folders
#
################################################################################

dist
generated

################################################################################
#
# Local files
#
################################################################################

*.local.js

################################################################################
#
# Underscored files
#
# Using underscores at the end of a file is often used to backup a file while
# working on the original one.
#
################################################################################

*.*_
*.*__
*.*___

################################################################################
#
# Node modules
#
# When releasing a production app, you may consider to include (third party)
# dependencies.
#
# During development it's best to exclude them
#
################################################################################

node_modules

################################################################################
#
# Node.js / NPM
#
# Common files generated by Node, NPM, and the related ecosystem.
#
################################################################################

lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

################################################################################
#
# Temporarily files
#
################################################################################

tmp
.tmp

################################################################################
#
# Miscellaneous
#
# Common files generated by text editors,  operating systems, file systems, etc.
#
################################################################################

*~
*#
.DS_STORE
.DS_Store
Thumbs.db
.netbeans
nbproject
.idea
.node_history
/.vscode/

